@import '../abstracts/variables';

//fadeTransitions
.fade-in-start {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
}

.fade-in-end {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all $transitionDelay ease-out;
}

.fade-out-start {
  opacity: 1;
  transform: scale(1) translateY(0%);
}

.fade-out-end {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
  transition: all $transitionDelay ease-out;
}

.fade-in-down-start {
  opacity: 0;
  transform: translateY(100%);
  transition: all $transitionDelay ease-out;
}

.fade-in-down-end {
  opacity: 1;
  transform: translateY(0%);
  transition: all $transitionDelay ease-out;
}

.fade-in-up-start {
  opacity: 1;
  transform: translateY(0%);
  transition: all $transitionDelay ease-out;
}

.fade-in-up-end {
  opacity: 0;
  transform: translateY(100%);
  transition: all $transitionDelay ease-out;
}
