// Color Palette for Parimatch.com
:root {
  --color_1: #f9ae00;
  --color_2: #f7d523;
  --color_3: #000;
  --color_4: #333;
  --color_5: #686867;
  --color_6: #9f9f9f;
  --color_7: #ccc;
  --color_8: #f2f2f2;
  --color_9: #fff;
  --color_10: #e21a3d;
  --color_11: #00984a;
  --color_12: #005a98;
  --color_13: #e5e5e5;
  --color_14: #f8f8f8;
  --color_15: #ededed;
  --color_16: #a62d14;
  --color_17: #24b7e0;
  --color_18: #fff7e5;
  --color_19: #fbce66;
  --color_20: #e5f4ec;
  --color_21: #fce8eb;

  //sports colors
  --sportСolor_soccer: #006415;
  --sportСolor_basketball: #9d6102;
  --sportСolor_tennis: #848805;
  --sportСolor_amFootball: #348a07;
  --sportСolor_autoMoto: #6e0202;
  --sportСolor_badminton: #1a7a79;
  --sportСolor_bandy: #055728;
  --sportСolor_baseball: #053756;
  --sportСolor_beachFootball: #dc7b02;
  --sportСolor_beachVolleyball: #d28619;
  --sportСolor_biathlon: #2481b2;
  --sportСolor_vox: #603333;
  --sportСolor_chess: #d3a831;
  --sportСolor_cycleRacing: #4e15ab;
  --sportСolor_entertaiment: #6a2275;
  --sportСolor_fieldHockey: #3a7a18;
  --sportСolor_floorball: #208790;
  --sportСolor_soccerOutrights: #004f22;
  --sportСolor_futsal: #3e821a;
  --sportСolor_golf: #39870f;
  --sportСolor_handball: #014557;
  --sportСolor_iceHockey: #00676b;
  --sportСolor_lottery: #6d1b8c;
  --sportСolor_olympicGames: #c30000;
  --sportСolor_other: #4b5f6d;
  --sportСolor_pool: #025e37;
  --sportСolor_rugby: #148b99;
  --sportСolor_tableTennis: #1c32a1;
  --sportСolor_volleyball: #8b3b01;
  --sportСolor_waterPolo: #0967b6;
  --sportСolor_winterSport: #5db5e3;
  --sportСolor_cyberSport: #67317b;
  --sportСolor_darts: #7e244c;
  --sportСolor_bowls: #4a8a17;
  --sportСolor_cricket: #075728;
  --sportСolor_ausFootball: #075728;
  --sportСolor_politics: #6e0202;
  --sportСolor_curling: #91a4ce;
  --sportСolor_financial: #53595c;
}
