{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "rules": {
    "no-console": "off",
    "curly": ["error", "all"],
    "no-plusplus": "off",
    "arrow-parens": ["warn", "always"],
    "func-names": "off",
    "func-style": "off",
    "no-shadow": "warn",
    "max-len": ["error", { "code": 80, "ignoreUrls": true }],
    "import/no-extraneous-dependencies": "off",
    "react/button-has-type": "off",
    "jsx-a11y/heading-has-content": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "no-unused-expressions": [
      "error", { "allowShortCircuit": true }
    ]
  },

  "globals": {
    "document": false,
    "shallow": true,
    "mount": true
  },

  "env": {
    "jest": true
  }
}
